@{

    System.Data.DataSet ds = (System.Data.DataSet)ViewData["ds"];

}


<table>
    <tr>
        <td style="height:50px;">
            <div style="color: #3F4F70;font-weight:bold">共有未处理振动报警:&nbsp<font color="red"> @(ViewBag.Vibcount)</font> &nbsp;个 </div>

        </td>
    </tr>
    <tr>

        <td>
            <table class="realtb">
       
                <tr align="center">
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th><b>编号</b></th>
                    <th><b>报警时间</b></th>
                    <th><b>通道号</b></th>
                    <th width="110px"><b>报警等级</b></th>
                    <th><b>样本号</b></th>
                    <th width="140px"><b>报警位置(米)</b></th>
                    <th><b>报警宽度</b></th>
                    <th height="50px" width="90px"><b>最大强度</b></th>
                    <th><b>可信度</b></th>
                    <th width="180px"><b>动作</b></th>
                    <th width="120px"><b>振动最大强度图</b></th>
</tr>
                @{
                    foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
                    {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>@dr["id"]</td>
                                    <td width="200px">@dr["push_time"]</td>
                                    <td>@dr["channel_id"]</td>
                                    <td>@dr["level"]</td>
                                    <td>@dr["sample_id"]</td>
                                    <td>@dr["center_pos"]</td>
                                    <td>@dr["event_width"]</td>
                                    <td>@dr["max_intensity"]</td>
                                    <td style="height:40px">@dr["possibility"]</td>
                                    <td><a class="norbn" href="#" onclick="vib_confirm('@(dr["id"])', 1)">确认</a>&nbsp;&nbsp;<a class="norbn" href="#" onclick="vib_confirm('@(dr["id"])', 2)">误报</a></td>
                                    <td><progress value="@(dr["max_intensity"])" max="255"></progress></td>

                                </tr>

                    }
                    ds.Dispose();

                }

            </table>

        </td>

    </tr>

</table>

