@{

    System.Data.DataSet ds = (System.Data.DataSet)ViewData["ds"];
    int fyleft = int.Parse(ViewBag.Vibcount) % 10;
    int fypagen = int.Parse(ViewBag.Vibcount) / 10;
    if (fyleft > 0)
    {
        fypagen = fypagen + 1;
    }
}
<script src="~/Scripts/echarts.js"></script>
<script src="~/Scripts/wonderland.js"></script>

<script language="JavaScript" type="text/javascript">
    function getnextpage() {
        var totpage =@(fypagen);
        var curpage = $(".curpage").text();
        curpage = parseInt(curpage) + 1;

        var pagetxt;
        if ((curpage >= 1) && (curpage <= 500))
        {
            if (curpage <= totpage) {
                $(".curpage").text(curpage);
                var qstr = "npage=" + curpage;
                $(".showdetail").load("/Bot/Botdfypage?" + qstr);
            }
        }
        else {
            $(".showdetail").html("<br/><div style='font-size:14px;padding-left:150px;color: red;'>共查到超过5000条记录，请选择查询条件进行过滤！</div><br/>")
        }

    }
    function getprepage() {

        var totpage =@(fypagen);
        var curpage = $(".curpage").text();
        curpage = parseInt(curpage) - 1;
        var pagetxt;
        if ((curpage >= 1) && (curpage <= 500)) {
            $(".curpage").text(curpage);

            var qstr = "npage=" + curpage;
            $(".showdetail").load("/Bot/Botdfypage?" + qstr);
        }
        else {
            if (curpage > 500) {
                $(".showdetail").html("<br/><div style='font-size:14px;padding-left:150px;color: red;'>共查到超过5000条记录，请选择查询条件进行过滤！</div><br/>")
            }
        }
    }

    function getfirstpage() {
        $(".curpage").text("1");
        var qstr = "npage=1" ;
        $(".showdetail").load("/Bot/Botdfypage?" + qstr);
    }

    function getlastpage() {
        var totpage =@(fypagen);
        if (totpage <= 500)
        {
            $(".curpage").text(totpage);
            var curpage = parseInt(totpage);
            var qstr = "npage="+curpage;
            $(".showdetail").load("/Bot/Botdfypage?" + qstr);
        }
        else {
            $(".showdetail").html("<br/><div style='font-size:14px;padding-left:150px;color: red;'>共查到超过5000条记录，请选择查询条件进行过滤！</div><br/>")
        }
    }
    function getpage() {
        var totpage =@(fypagen);
        var curpage = $("#fyb").val();
        if ((totpage > 500) && (curpage > 500)) {
            $(".showdetail").html("<br/><div style='font-size:14px;padding-left:150px;color: red;'>共查到超过5000条记录，请选择查询条件进行过滤！</div><br/>")
        }
        else {
            if ((curpage >= 1) && (curpage <= 500)) {
                if (curpage <= totpage) {
                    $(".curpage").text(curpage);
                    var qstr = "npage=" + curpage;
                    $(".showdetail").load("/Bot/Botdfypage?" + qstr);
                }
            }
        }
    }
    var DataChart;
    function vib_showchart(eid) {
        if ((DataChart != null) && (DataChart != "") && (DataChart != undefined))
        {
            DataChart.dispose();
        }
        DataChart = echarts.init(document.getElementById('Showchart'), 'wonderland');
        var pos = [];
        var valu = [];
        var arr0 = [];
        DataChart.showLoading();
        $.get('/Bot/Getbarjson?id='+eid, function (data) {

            for (var i = 0; i < data.Pos.length; i++) {
                pos[i] = JSON.parse(data.Pos[i]);//以特定的JSON的格式接收数字
            }
            for (var i = 0; i < data.Valu.length; i++) {
                valu[i] = data.Valu[i];//以JSON的方式接收字符串
            }
           // console.log("对象数组valu:" + valu)

            DataChart.setOption({
                tooltip: {
                    trigger: 'axis',
                    showContent: true,
                },
                dataZoom: {
                    type: 'inside',
                    show: true,
                },
                title: {
                    text: '历史应变图(编号：'+eid+')',
                    textStyle: {   //主标题的样式
                        color: 'red',
                        fontWeight: 'bold',
                        fontStyle: 'italic',
                        fontFamily: '微软雅黑'
                    },
                    x: 'center'
                },
                grid: {
                    top: '20%',
                },
                xAxis: {
                    name: '位置',
                    type: 'category',
                    data: pos,
                    axisLabel: {
                        rotate: '35',
                        interval: 1000
                    }
                },

                yAxis: {
                    type: 'value',
                    name: '应变值(με)',
                },

                series: [
                    {
                        name: '应变值',
                        type: 'bar',    // 设置图表类型为饼图
                        data: valu,
                    }
                ]
            })
        }, 'json');
        DataChart.hideLoading();

    }
    function set_angle(eid) {
        $("#Showchart").load("/Bot/Botset?id=" + eid);

    }

</script>

<table>
    <tr>
        <td style="height:50px;">
            <div style="color: #3F4F70;font-weight:bold">共查到Botda历史数据:&nbsp<font color="red"> @(ViewBag.Vibcount)</font> &nbsp;条 </div>

        </td>
    </tr>
    <tr>

        <td>
            <table>
                <tr>
                    <td valign="top">
                        <div class="showdetail">
                            <table class="realtb">

                                <tr align="center">
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th width="80px"><b>编号</b></th>
                                    <th width="160px"><b>时间</b></th>
                                    <th width="100px"><b>通道号</b></th>
                                    <th width="110px" height="50px"><b>点距（米）</b></th>
                                    <th width="100px"><b>查看</b></th>
                                    <th width="100px"><b>设置折角参数</b></th>

                                </tr>
                                @{
                                    int i = 0;
                                    foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
                                    {
                                        i = i + 1;
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                    <td>@dr["id"]</td>
                                                                    <td >@dr["rece_time"]</td>
                                                                    <td style="height:36px">@dr["channel_id"]</td>
                                                                    <td>@dr["dot_len"]</td>
                                                                    <td><a class="norbn" href="#" onclick="vib_showchart('@(dr["id"])')">瞬时应变图</a></td>
                                                                    <td><a class="norbn" href="#" onclick="set_angle('@(dr["id"])')">设置</a></td>


                                                                </tr>
                                        if (i == 10)
                                        {
                                            break;
                                        }

                                    }
                                    //ds.Dispose();

                                }


                            </table>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                 <td> &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><div id="Showchart" style="width: 500px;height:330px;"> </div></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="fy" style="width:100%;">
                            <a href="#" title="首页" onclick="getfirstpage()">首页</a>
                            <a href="#" title="上一页" onclick="getprepage()">上一页</a>
                            &nbsp; 共<span id="fytotal">@(fypagen)</span>页&nbsp; 第<span id="fytotal" class="curpage">1</span>页 &nbsp;
                            <a href="#" title="下一页" onclick="getnextpage()">下一页</a>
                            <a href="#" title="尾页" onclick="getlastpage()">尾页</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            转到第<input type="text" id="fyb" />页&nbsp; <a href="#" title="Go" onclick="getpage()">Go</a>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>

            </table>

        </td>


    </tr>

</table>
